.fw-black {
    font-weight: 900;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

table th {
    font-weight: 700;
    padding: 14px 8px !important;
}

table td {
    padding: 12px 8px !important;
}

.card {
    border-radius: 10px;
}

/* Tránh lỗi render canvas biểu đồ Chart.js khi chưa có độ cao */
canvas {
    min-height: 150px;
}